  <style>
    #header  {
    	display: none !important;
    }
    body {
      background: #000;
      color: #fff;
    }
    a.action_button {
      display: block;
      background: #444;
      color: #fff;
      margin: 1rem auto;
      line-height: 2.6rem;
      max-width: 300px;
    }
    h1, h2, ,h3 {
      color: #fff !important;
    }
    .main_nav_wrapper,
    .top-bar,
    #shopify-section-newsletter,
    header,
    footer { 
      display: none; 
    }
    header .top_bar a.mobile_logo {
      display: none;
    }

  </style>
  <a name="pagecontent" id="pagecontent"></a>

  <div class="sixteen columns page clearfix">
    <h1 style="color: #fff; text-align: center; margin-bottom: 4rem">
      BLACKOUT TUESDAY
    </h1>
    <p style="color: #fff; text-align: left;max-width: 900px;margin: 0 auto;">
      TODAY WE ARE FREEZING OUR WEBSTORE IN ORDER TO SHOW SOLIDARITY WITH 

      OUR BLACK FAMILY & COMMUNITY.   
      <br/>
      <br/>
      
      
      WE HAVE RECENTLY BECOME AWARE OF MULTIPLE HORRIFIC INJUSTICES WHICH 
      
      HAVE OCCURRED WITHIN THE PAST MONTH.
      <br/>
      <br/>
      
      
      THESE EVENTS HAVE TORN OPEN OUR EYES, AND OUR HEARTS. <br/><br/>
      
      
      WE ARE SPENDING TODAY PURELY FOCUSED ON LISTENING, LEARNING, AND DONATING
      
      - WHICH WE WILL CONTINUE TO DO MUCH MORE OF FROM TODAY FORWARD. <br/><br/>
      
      
      
      ALL PROJECTED PROFITS FROM TODAY WILL BE DONATED TO THE FOLLOWING ORGANIZATIONS. 
      
      WE ENCOURAGE YOU TO JOIN US, OR TO ENGAGE IN YOUR OWN RESEARCH ON HOW TO HELP.<br/>
      
      
      
      TO THE PROTESTORS - WE ARE WITH YOU. 
      <br/><br/>
      
      TO FIRST RESPONDERS HELPING TO FACILITATE THESE VOICES WITH LOVE & SAFETY - WE THANK YOU. <br/>
      
      
      
      <br/>
      <br/>
      WITH OVERWHELMING LOVE,
      
      <br/>
      <br/>
      -ALPHA   
    </p>
    <p style="color: #fff; text-align: center;">
      <a class="action_button" href="https://www.joincampaignzero.org/">Campaign Zero</a>
      <a class="action_button" href="https://www.change.org/p/andy-beshear-justice-for-breonna-taylor">Breonna Taylor</a>
      <a class="action_button" href="https://eji.org/">eji.org</a>
    </p>
  </div>
