<style>
  body {
  	background: #000;
    color: #fff;
  }
  h1, h2, ,h3 {
  	color: #fff !important;
  }
  .main_nav_wrapper,
  .top-bar,
  #shopify-section-newsletter,
  header,
  footer { 
    display: none; 
  }
  header .top_bar a.mobile_logo {
  	display: none;
  }

</style>
<a name="pagecontent" id="pagecontent"></a>

<div class="sixteen columns page clearfix">
  <h1 style="color: #fff; text-align: center; margin: 0 auto;">
     BLACKOUT TUESDAY.
  </h1>
  <div class="feature_divider1"></div>

  <div>
    {% include 'page-multi-column', content: page.content %}
  </div>
  {% form 'storefront_password' %}

  {{ form.errors | default_errors }}

  <label for="password">Details to follow.</label>
  <input type="password" name="password">
  <input type="submit" value="Enter">

  {% endform %}
</div>
